<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="pictolearn">
<Appenders>
    <RollingFile name="RollingFile" fileName="logs/pictolearn-docker.log"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        <PatternLayout>
            <Pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="250 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="20"/>
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{dd/MMM/yyyy HH:mm:ss,SSS}- %p %c{1.} [%t] %m%n"/>
    </Console>
</Appenders>
<Loggers>
    <Logger name="org.pictolearn" level="debug" additivity="false">
        <AppenderRef ref="RollingFile"/>
        <AppenderRef ref="Console"/>
    </Logger>

    <Root level="warn">
        <AppenderRef ref="RollingFile"/>
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>
</Configuration>